<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CHMPTFileName" value="EOW3439"/>
    <add key="CPEURFileName" value="EOW5151"/>
    <add key="GBPFileName" value="EOW5152"/>
    <add key="NACompanyId" value="1"/>
    <add key="EUCompanyId" value="2"/>
    <add key="ZipExtractedFilePath" value="D:\chempoint\logging\CTSI\CTSIToGP\Extracted\"/>
    <add key="CtsiToGPLoggingPath" value="D:\chempoint\logging\CTSI\CTSIToGP\"/>
    <add key="CtsiToGPLogFileName" value="ChemPoint.CtsiToGP_"/>
    <add key="FileSearchPattern" value="EOW*.*"/>
    <add key="XlsFile" value=".xls"/>
    <add key="XlsxFile" value=".xlsx"/>
    <add key="IsEUEnabled" value="TRUE"/>
    <add key="UserId" value="CPDevTaskSvc"/>
    <add key="Source" value="CTSI"/>
    <add key="ServiceURL" value="http://localhost:54810/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
