<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="eConnectServiceEndpoint" />
                <binding name="eConnectDocNumberEndPoint" />
                <binding name="eConnectRollBackDocuments" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/Microsoft/Dynamics/GP/eConnect/EntityOperations"
                binding="netNamedPipeBinding" bindingConfiguration="eConnectServiceEndpoint"
                contract="EconnectServiceReference.eConnect" name="eConnectServiceEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Microsoft/Dynamics/GP/eConnect/GetDocumentNumbers"
                binding="netNamedPipeBinding" bindingConfiguration="eConnectDocNumberEndPoint"
                contract="EconnectServiceReference.ITransactionRecordIds"
                name="eConnectDocNumberEndPoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Microsoft/Dynamics/GP/eConnect/RollBackDocuments"
                binding="netNamedPipeBinding" bindingConfiguration="eConnectRollBackDocuments"
                contract="EconnectServiceReference.IDocumentNumberRollback"
                name="eConnectRollBackDocuments">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Microsoft/Dynamics/GP/eConnect/EntityOperations"
                binding="netNamedPipeBinding" bindingConfiguration="eConnectServiceEndpoint"
                contract="EconnectServiceReference.eConnect" name="eConnectServiceEndpoint1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Microsoft/Dynamics/GP/eConnect/GetDocumentNumbers"
                binding="netNamedPipeBinding" bindingConfiguration="eConnectDocNumberEndPoint"
                contract="EconnectServiceReference.ITransactionRecordIds"
                name="eConnectDocNumberEndPoint1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Microsoft/Dynamics/GP/eConnect/RollBackDocuments"
                binding="netNamedPipeBinding" bindingConfiguration="eConnectRollBackDocuments"
                contract="EconnectServiceReference.IDocumentNumberRollback"
                name="eConnectRollBackDocuments1">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>