<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="serviceURL" value="http://localhost:54700/"/>
    <add key="IsNAEnabled" value="1"/>
    <add key="IsEUEnabled" value="1"/>
    <add key="CHMPTCompanyName" value="CHMPT"/>
    <add key="CPEURCompanyName" value="CPEUR"/>
  </appSettings>
</configuration>
