<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FTPFileDownloadFolderPath" value="D:\Chempoint\logging\APOut\APIToGP\Extracted\"/>
    <add key="UserId" value="SystemJob"/>
    <add key="SourceApi" value="API"/>
    <add key="LoggingPath" value="D:\ChemPoint\logging\APOut\APIToGP\"/>
    <add key="LogFileName" value="ChemPoint.APOut_"/>
    <add key="CHMPTFileNameForPO" value="CHPAPOPOR"/>
    <add key="CHMPTFileNameForNonPO" value="CHPAPOGLO"/>
    <add key="CPEURFileNameForPO" value="CH2APOPOR"/>
    <add key="CPEURFileNameForNonPO" value="CH2APOGLO"/>
    <add key="ServiceURL" value="http://localhost:54810/"/>
    <add key="IsEUEnabled" value="TRUE"/>
    <add key="IsNAEnabled" value="TRUE"/>
    <add key="NACompanyId" value="1"/>
    <add key="EUCompanyId" value="2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
