<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>



    <httpRuntime executionTimeout="900000"/>

  </system.web>
  <appSettings>

    <add key="SourceDir" value="\\CS01BIZTALK01\Blackline GL Automation\MR Report Links\"/>
    <add key="ArchievedURLDir" value="\\CS01BIZTALK01\Blackline GL Automation\Archive\MR Report Links\"/>
    <add key="ArchievedNotepdDir" value="\\CS01BIZTALK01\Blackline GL Automation\Archive\BL Reports\"/>
    <add key="ArchievedExceldDir" value="\\CS01BIZTALK01\Blackline GL Automation\Archive\MR Excel Export\"/>
    <add key="TempNotepadReportPath" value="\\CS01BIZTALK01\Blackline GL Automation\MR to FTP\"/>
    <add key="SecuredFTP" value="\\CS01BIZTALK01\Blackline GL Automation\SecureFTP\Archive\BL Reports\"/>
    
    <add key="NAReportName" value="GLBalances_CPUS"/>
    <add key="EUReportName" value="GLBalances_CPEMEA"/>
    <add key="ZipFileName" value="TrailBalanceReport"/> 
    <!--<add key="FtpLogPath" value="\\CS01BIZTALK01\Blackline GL Automation\GL Automation Logs\"/>-->
    <add key="FtpLogPath" value="D:\ChemPoint\logging\FtpUtility\"/>
    <!--<add key="FtpLogPath" value=" \\CS01BIZTALK01\FtpUtility\"/>-->

    <add key="FtpLogFileName" value="FtpLog"/>

    <add key="AppName" value="Blackline"/>
    <add key="ManagementReport" value="MReport"/>
    <add key="POCostVariance" value="POCostVariance"/>

    <!--<add key="ServiceUrl" value=" http://cs01biztalk01.chempoint.com/Chempoint.GP.Services/" />-->
    
    <!--<add key="ServiceUrl" value=" http://cs01biztalk01.chempoint.com/Chempoint.GP.BlackLineAnalysis/" />-->
    <add key="ServiceUrl" value=" http://localhost:54813/"/>
    <!--<add key="ServiceUrl" value= "http://localhost/TestFTP/"/>-->
    <!--<add key="ReportTemplatePath" value="D:\ManagementReportTemplate.xlsx"/>-->

    <!--Email Service-->


    <add key="SMTPServer" value="mail10.chempoint.com"/>
    <add key="EMailFrom" value="raghunath.anipeddi@chempoint.com"/>
    <add key="EmailConfigID" value="177"/>
    <!--<add key="ReportFileName" value="PO Cost managemnt"/>-->
    <add key="EmailSignature" value="Chempint Support Solutions"/>
    <!--Email Service-->
  </appSettings>
  <!--<runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>-->
  <connectionStrings>
    <!--<add name ="XLSConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>-->
    <add name="XLSXConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR=YES;';"/>
    <add name="GPCUSTOMIZATIONCONSTRING" connectionString="Data Source=stagedb;Initial Catalog=GPCustomizations;persist security info=False;user id=sa;pwd=Adm1ntli;packet size=4096" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
