<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FTPPath" value="ftp://ftp.aspiresys.com/"/>
    <add key="FTPUserName" value="Bedrock"/>
    <add key="FTPPassword" value="atu4tfen"/>
    <add key="FTPInFolderPath" value="testin"/>
    <add key="FTPOutFolderPath" value="testout"/>
    <add key="NAFTPDownloadFile1" value="NACHPAPOPOR"/>
    <add key="EUFTPDownloadFile1" value="CH2APOPOR"/>
    <add key="NAFTPDownloadFile2" value="NACHPAPOGLO"/>
    <add key="EUFTPDownloadFile2" value="CH2APOGLO"/>
    <add key="FTPFileDownloadFolderPath" value="D:\chempoint\logging\APOut\APIToGP\"/>
    <add key="ZipExtractedFilePath" value="D:\chempoint\logging\APOut\APIToGP\Extracted\"/>
    <add key="FTPDownloadFile1" value="CHPAPOPOR"/>
    <add key="FTPDownloadFile2" value="CHPAPOGLO"/>
    <add key="TextFileExtension" value=".TXT"/>
    <add key="OutputFilePath" value="D:\chempoint\logging\APOut\SendToAPI\"/>
    <add key="GPToAPILoggingPath" value="D:\ChemPoint\logging\APOut\GPToAPI\"/>
    <add key="GPToAPILogFileName" value="ChemPoint.GPToAPI_"/>

    <add key="MailTo" value="nagarajan.seetharaman@CHEMPOINT.com"/>
    <add key="MailCC" value="ashok.chinnathambi@chempoint.com"/>
    <add key="MailBcc" value="nagarajan.seetharaman@chempoint.com"/>
    <add key="MailFrom" value="APOutDev@Chempoint.com"/>
    <add key="MailGPToAPISubject" value="Devbiztalk2 - APOut GPtoAPI zipfile creation error"/>
    <add key="MailAPIToGPSubject" value="Devbiztalk2 - APOut Payment Creation Failure Notification"/>
    <!--<add key="MailGPToAPIMsg" value="An error occured while creating zipfile.GP will not send APIDetails tonight."/>-->
    <add key="SMTP" value="mail10.chempoint.com"/>
    <add key="EmailConfigForFileGenerator" value=""/>
    <add key="RetryCount" value="1"/>

    <add key="OutputFilePath" value="D:\chempoint\logging\APOut\SendToAPI\"/>
    <add key="VendorFileName" value="VEN_"/>
    <add key="LocFileName" value="RTR_"/>
    <add key="GlFileName" value="GLD_"/>
    <add key="PoFileName" value="POD_"/>
    <add key="RcvFileName" value="RCV_"/>
    <add key="PayFileName" value="PAY_"/>
    <add key="VenGLFileName" value="GLV_"/>
    <add key="GPToAPITempFolderPath" value="D:\chempoint\logging\Temp\"/>

    <add key="ServiceUrl" value="http://localhost:54813/"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
