<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceURL" value="http://localhost:54810/"/>
    <add key="NA" value="Chmpt"/>
    <add key="EU" value="Cpeur"/>
    <add key="GPToCTSILoggingPath" value="D:\ChemPoint\logging\CTSI\GPToCTSI\"/>
    <add key="GPToCTSILogFileName" value="ChemPoint.GPtoCtsi_"/>
    <add key="FTPPath" value="ftp.aspiresys.com"/>
    <add key="FTPUserName" value="Bedrock"/>
    <add key="FTPPassword" value="atu4tfen"/>
    <add key="DaysCount" value="3"/>
    <add key="RetryCount" value="3"/>
    <add key="TempFolderPath" value="D:\chempoint\logging\Temp\"/>
    <add key="FTPInFolderPath" value="IN"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
